# Build files
build/
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
ELF2UF2Build-complete
ELF2UF2Build.dir/
Makefile2
Makefile.cmake
pkgRedirects
progress.marks
rp2040_hid_mouse.dir/
TargetDirectories.txt

# Dependencies
pico-sdk/
pioasm/
elf2uf2/

# Test artifacts
rp2040_hid_mouse.*
# Other
LICENSE.TXT
*~
*.swp
*.bak
